build/
external/vcpkg
tools/download
tools/host
docs/_build/

.DS_Store
*.pyc

.vscode/
.vs/
.temp/

# Python files installed into source tree
slangpy/**/*.pyi
slangpy/*.pdb
slangpy/*.pyd
slangpy/*.pyd.manifest
slangpy/*.ilk
slangpy/*.so
slangpy/.build_dir
slangpy.egg-info/
